<div class="card" style="width: 50%;">
  <div class="panel panel-primary">
    <div class="panel-heading font-weight-bold">Titulo</div>
    <input type="text" class="panel-body grayInput" [(ngModel)]="title" width="100%"/>
  </div>
</div>

<div class="card" style="width: 50%">
  <div class="panel panel-primary">
    <div class="panel-heading font-weight-bold">Contenido</div>
    <textarea class="panel-body input-lg grayInput" [(ngModel)]="content" ></textarea>
  </div>
</div>

<br><br>
<div class="card" style="width: 50%;">
  <div class="panel panel-primary">
    <div class="panel-heading font-weight-bold">Testigo</div>
    <div class="panel-body">{{witness}}</div>
  </div>
</div>
<br>
<span class="font-weight-bold col-sm-1 col-sm-6-offset-1">Autor:</span>
<span class="col-sm-1 col-sm-1-offset-2">{{author}}</span>
<span class="col-md-3 col-md-1-offset-3">| Destacada {{important ? 'Importante': 'No Importante'}}</span>
<span class="col-sm-3 col-sm-3-offset-2">| {{mediaName}} | {{city}} | {{state}}</span>

<br><br><br>
<div class="container" style="width: 50%;">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Id</th>
        <th>Categoria</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{id}}</td>
        <td>{{category}}</td>
      </tr>
    </tbody>
  </table>
</div>